{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="error">
        {{ error }}
    </div>
    <form action="/register" method="post">
        <div class="mb-3">
            <label class="label">Create an account</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newUsername" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newPassword" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmPassword" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Create an Account</button>
    </form>
{% endblock %}